#!/usr/bin/env ansible-playbook
---
- hosts: digitalocean
  vars:
    do_token: "{{ lookup('env','DO_API_TOKEN') }}"
  roles:
    - { role: cloud/digitalocean, grouplist: "BLOG" }

###################################################
- hosts: DO-BLOG
  remote_user: root
  gather_facts: no #needed to avoid python error fixed below
  roles:
    - common/setup
